* {
  margin: 0;
  padding: 0;
}

.vl-left {
  position: relative;
}

.vl-left::before {
  content: '';
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: 0;
  background-color: #dfdfdf;
  width: 1px;
}

.user-profile-nav-dropdown .dropdown-menu {
  z-index: 1021;
}

.user-profile-nav-dropdown .nav-link {
  color: #6c757d;
}

nav .breadcrumb {
  margin-bottom: 0;
}

#profile-nav-dropdown + .dropdown-menu {
  left: unset !important;
  right: 0;
}

.modal-content {
  border-radius: 0!important;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.social-media-icon:hover {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  color: white !important;
}

.min-height-70vh {
  min-height: 70vh;
}

.min-height-60vh {
  min-height: 60vh;
}

.product-item {
  position: relative;
}

.product-item:hover ::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0d6efd;
  opacity: 0.03;
}